In [15]:
### Generate csv in CLAM format
import pandas as pd
from glob import glob

csv_path = '/home5/gzy/UBC_OCEAN/train.csv'
#label_dict = ['luad','lusc']

df = pd.read_csv(csv_path)
#df.columns = ['case_id','slide_id','label']
#df['slide_id'] = df['slide_id'].apply(lambda x: x.split('.svs')[0])
#df['label'] = df['label'].apply(lambda x: label_dict[x])

In [16]:
df = df[df['is_tma']==False]
df.reset_index(inplace=True, drop=True)
df['image_id'] = df['image_id'].apply(lambda x: str(x))
df['case_id'] = df['image_id']
df['slide_id'] = df['image_id']
df.head()

  image_id label  image_width  image_height  is_tma case_id slide_id
0        4  HGSC        23785         20008   False       4        4
1       66  LGSC        48871         48195   False      66       66
2      281  LGSC        42309         15545   False     281      281
3      286    EC        37204         30020   False     286      286
4      431  HGSC        39991         40943   False     431      431

# 删选提取到特征的部分

In [17]:
fea_df = pd.DataFrame(glob("/home5/gzy/UBC_OCEAN/feature_resnet/*.npy"))
fea_df[1] = [1 for i in range(fea_df.shape[0])]
fea_df.columns = ['slide_id', 'tag']
fea_df['slide_id'] = fea_df['slide_id'].apply(lambda x: x.split('/')[-1].split('_0_512.npy')[0])
fea_df.head()

  slide_id  tag
0    10252    1
1    32596    1
2    31300    1
3    29888    1
4    48550    1

In [18]:
df = df.merge(fea_df, how='left', on='slide_id')
df = df.fillna(0)
df = df[df['tag'] == 1][['case_id','slide_id','label']]

In [19]:
df.head()

  case_id slide_id label
0       4        4  HGSC
1      66       66  LGSC
2     281      281  LGSC
3     286      286    EC
4     431      431  HGSC

In [20]:
df[['case_id','slide_id','label']].to_csv('ovarian_subtyping_npy.csv', index=False)